<img src ="<%= toy.escape('image_url') %>" > <br>

Name: <%= toy.escape('name') %> <br>
Happiness: <%= toy.escape('happiness') %> <br>
Price: <%= toy.escape('price') %> <br>

Change Owner
<select>
  <% pokes.each(function (poke) {%>
      <option value="<%= poke.id %>"><%= poke.escape('name') %></option>
  <% }) %>
</select>
